*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: Lato, sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: $dark;
  &:hover {
    color: $primary;
  }
}

code {
  background: $secondary;
  color: $primary;
  line-height: 21px;
  padding: 2px;
}

hr {
  border-color: $secondary;
}

textarea {
  resize: none;
}

.font {
  &-xs {
    font-size: 12px;
  }
  &-sm {
    font-size: 14px;
  }
}

.avatar {
  width: 40px;
  height: 40px;
}

.material-icons {
  vertical-align: bottom;
}
