.sidebar {
  .logo {
    height: 40px;
  }
  .nav-item {
    font-weight: 800;
  }
  .nav-link {
    color: $dark;
    &--active {
      color: $primary;
    }
    &:hover {
      background-color: $primary;
      color: $secondary;
    }
  }
}
