.list-group-item {
	&--active {
		background-color: $secondary;
	}
	&:hover {
		background-color: $secondary;
	}
}

.tab-content {
	position: relative;
}

.replyEditor {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	.textTools {
		&-item {
			a {
				color: $dark;
			}
		}
	}
}
